<!-- footer start -->
<footer class="footer">
   <div class="footer-top">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
               <div class="footer-logo">
                  <a href="index.html"><img src="assets/images/footer-logo.svg" class="img-fluid"></a>
               </div>
               <!--p class="text-white mb-0 ft-text">WellzOn is a wellness platform dedicated to making self-care accessible and convenient. We
                  connect clients with trusted wellness and healthcare providers for immediate, same-day, or
                  next-day services, either at home or in a nearby clinic. </p-->
            </div>
            <div class="col-lg-6">
               <div class="row">
                  <div class="col-sm-6 mb-4 mb-sm-0">
                     <h4 class="ft-list-title">Explore</h4>
                     <ul class="footer-list">
                        <li class="footer-list-item">
                           <a href="index.html" class="footer-list-link">Home</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="index.html#aboutSection" class="footer-list-link">About</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="index.html#serviceSection" class="footer-list-link">Services</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="business-plans.html" class="footer-list-link">Business Subscriptions</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="faq.html" class="footer-list-link">FAQs</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="index.html#letusStart" class="footer-list-link">Contact</a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-sm-6">
                     <h4 class="ft-list-title">Other</h4>
                     <ul class="footer-list">
                        <li class="footer-list-item">
                           <a href="terms-and-conditions.html" class="footer-list-link">Terms of use</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="privacy-policy.html" class="footer-list-link">Privacy policy</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="cookies.html" class="footer-list-link">Cookies</a>
                        </li>
                        <li class="footer-list-item">
                           <a href="accessibility-statement.html" class="footer-list-link">Accessibility Statement</a>
                        </li>
                        <li class="footer-list-item">
                           <div class="d-flex social_media_icons">
                              <a href="https://www.facebook.com/profile.php?id=61566522095869&mibextid=LQQJ4d" target="_blank"
                                 class="fa fa-facebook"></a>
                              <!-- <a href="#" class="fa fa-twitter"></a> -->
                              <a href="https://www.linkedin.com/company/103332068/admin/dashboard/" target="_blank" class="fa fa-linkedin"></a>
                              <a href="https://www.instagram.com/wellzonapp/?igsh=MW1tYzJuM2dneDEwdg%3D%3D&utm_source=qr" target="_blank"
                                 class="fa fa-instagram"></a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-bottom">
      <div class="container">
         <div class="col-12">
            <p class="mb-0 text-center">Copyright © 2024 WellzOn. All rights reserved.</p>
         </div>
      </div>
  </div>
</footer>
<!-- footer end -->