<!-- TODO: Prioritize the header and footer to be loaded first -->

<!-- header start -->
<header class="header">
   <nav class="navbar navbar-expand-lg">
       <div class="container">
          <a class="navbar-brand" href="index.html">
          <img src="assets/images/wellzon_logo.png" class="img-fluid" style="width:100px;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
             data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
             <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
             </div>
             <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start align-items-center flex-grow-1">
                   <li class="nav-item">
                      <a class="nav-link" href="index.html#serviceSection">Services</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="index.html#aboutSection">About Us</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="business-plans.html">Business Subscriptions</a>
                   </li>
                </ul>
                <ul class="col-right d-flex align-items-center  flex-column flex-lg-row ">
                   <li class="nav-item">
                      <a href="coming-soon.html" class="btn-user login-btn">Login</a>
                   </li>
                   <li class="nav-item">
                      <a href="coming-soon.html" class="btn-user signup-btn">Sign up</a>
                   </li>
                   <li class="nav-item ">
                      <a class="nav-link d-flex align-items-center gap-2 border-cos" href="coming-soon.html">
                      <img src="assets/images/user-merchange-001.svg" class="img-fluid">
                      Merchant Login
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </nav>
 </header>
 <!-- header end -->